@charset "utf-8";

.feed_container {
	border-radius: 30px;
	background: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: var(--feed_container_size);
	min-width: var(--feed_container_size);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
}
.feed_padding {
	padding-left: 20px;
}
.profile_container {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.profile_image_container {
	width: 45px;
	height: 45px;
}
.profile_img {
	width: inherit;
	height: inherit;
	border-radius: 50%;
}
.user_id_container {
	font-size: large;
}
.user_id_container a:link { color: black; text-decoration: none;}
.user_id_container a:visited { color: black; text-decoration: none;}
.user_id_container a:hover { color: black; text-decoration: underline;}
.img_box_container {
	text-align: center;
	max-width: var(--feed_container_size);
	max-height: var(--feed_container_size);
}
.img_box {
	width: 100%;
	height: 100%;
}
.tag_container {
	margin-top: 10px;
	font-size: large;
}
.tag_container a:hover { text-decoration: none;}
.content {
    margin-top: 5px;
}
.date {
    color: #999;
    margin-bottom: 10px;
}
.accessory {
    border-top: 1px solid #eee;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    color: #999;
    font-size: 14px;
}
.like_icon {
	cursor: pointer;
	width: 28px;
}
.feed_widget_text {
	color: #000000;
}
.reply_container {
	margin-left: 20px;
}
.reply_icon {
	cursor: pointer;
	width: 28px;
	height: 27px;
}

.img_box_container img:hover{
	cursor: -webkit-zoom-in;
}