@charset "utf-8";

.body_container {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
}
.center_container {
	display: flex;
	position: relative;
	left: 50px;
	flex-direction: column;
	justify-content: center;
	width: var(--center_container_size);
	overflow: env();
	align-items: center;
	transition: margin-left .5s;
	z-index: var(--center_container_zindex);
}
.left_container {
	position: fixed;
	left: 0;
	width: var(--side_bar_size);
	z-index: var(--left_container_zindex);
}
.map_container {
	position: fixed;
	right: 0;
	width: 100%;
}
.selection_container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: var(--selection_container_zindex);
}
.time_and_condition_container {
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
	border-radius: 20px;
	margin-bottom: 20px;
}
.show_search_condition_container {
	display: flex;
	justify-content: center;
	align-items: center;	
	color: var(--base_color_navy);
	height: 100px;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	opacity: 0.8;
	transition: 0.5s;
}
.show_search_condition_container:hover {
	opacity: 1;
	box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.4);
}
.order_by_time_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: var(--feed_container_size);
	height: 100px;
	/* temporary vertical align, only valid for the one line, not multiple*/
	color: var(--base_color_navy);
	background-color: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	opacity: 0.8;
	transition: 0.5s;
}
.order_by_time_container:hover {
	cursor: pointer;
	opacity: 1;
	box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.4);
}
.page_end_container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: var(--feed_container_size);
	height: 100px;
	/* temporary vertical align, only valid for the one line, not multiple*/
	color: white;
	line-height: 100px;
	text-align: center;
	background-color: var(--base_color_navy);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
	border-radius: 20px;
	opacity: 0.75;	
	transition: 1s;
}
.page_end_container:hover {
	cursor: pointer;
	opacity: 1;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}

.banner_area{
	margin-bottom: 10px;
    padding:10px;
    color: var(--base_color_navy);
    background-color: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0.75;
}
.banner_area:hover {
	box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.4);
    opacity: 1;
}
.banner_area .banner_profile_img{
	display: flex;
}
.banner_area .banner_inner{
	display: flex;
	flex-direction: column;
}
.banner_profile_img{
    width: 210px;
    height: 210px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px;
}
.banner_profile_img img{
	width: 210px;
	object-fit: cover;
}
.banner{
	margin-top: 20px;
    width: 550px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.banner .banner_inner{
	margin-top: 10px;
	padding-left: 20px;
}
.banner .order_by_time_container{
	margin-top: 0px;
}

.friend_btn_1{
	outline: none;
	color: black;
	border: none;
	border-radius: 5px;
	background-color: #f5f2b8;
}
.friend_btn_1:hover{
	background-color: skyblue;
	outline: none;
	border: none;
	color: white;
	border-radius: 5px;
}
.friend_btn_2{
	background-color: skyblue;
	outline: none;
	border: none;
	border-radius: 5px;
	color: white;
	pointer-events: none;
}
.friend_btn_3{
	background-color: blue;
	outline: none;
	border: none;
	border-radius: 5px;
	color: white;
	pointer-events: none;
}
.friend_btn_4{
	background-color:green;
	outline: none;
	border: none;
	border-radius: 5px;
	color: white;
	pointer-events: none;
}
.banner_inner_first span{
	margin-right: 5px;
}

.banner_tag{
	margin-bottom: 10px;
    padding:10px;
    color: #337AB7;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0.75;
}

.banner_tag:hover{
	box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.4);
    opacity: 1;
}

.banner_empty{
	padding:10px;
    color: var(--base_color_navy);
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
.banner_inner_sec span{
	padding-right: 10px;
}

.modal-content .modal-header *{
	display:inline-block;
}
#messageProfileImage{
	width:50px;
	height:50px;
	object-fit: cover;
	border-radius:50%;
}
#exampleModal{
	padding-top: 100px;
}
.col-11 input{
	width: 530px;
}
.input_msg_write{
	width: 600px;
}
.received_withd_msg{
	padding-left:5px;
	display:block;
	position:relative;
	top:30px;
}
.received_msg{
	display:inline-block;
	width: 57%;
}
.btn-close_modal{
	position:absolute;
	right: 10px;
	top: 10px;
}
.modal-dialog-scrollable .modal-content{
	max-height:600px;
	overflow: hidden;
}
.modal-dialog-scrollable .modal-body{
	max-height:519px;
}
.modal-dialog-scrollable .msg_history{
	max-height:440px;
	overflow: auto;
}
.incoming_msg_img{
	display:inline-block;
}
.incoming_msg_img img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius:50%;
}
.incoming_msg{
	display:block;
	margin-bottom: 10px;
}
.outgoing_msg{
	display:block;
	overflow: hidden;
	margin: 10px 0 10px;
}
.modal .col-11{
	display:inline-block;
}
.modal .col-1{
	display:inline-block;
}
.modal .sent_msg {
	float: right;
	width: 57%;
	font-family: 'Noto Sans KR', sans-serif;
}
.modal .sent_msg p {
	background: #97df93 none repeat scroll 0 0;
	border-radius: 7px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 10px 10px 10px 12px;
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}
.modal .time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 5px 0 8px;
}