.wrap {
	position: absolute;
	bottom: 35px;
	width: 160px;
	margin-left: -80px;
	text-align: left;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
	white-space: normal;
	height: auto;
	background: white;
	border-radius: 10px 10px 5px 5px;
}

.wrap * {
	padding: 0;
	margin: 0;
	white-space: normal;
	height: auto;
}

.wrap .info {
	width: 160px;
	height: auto;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 1px #888;
}

.info .title {
	padding: 0;
	height: 25px;
	background: #eee;
	/* background-color: #191a45; */
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px 10px 0px 0px;
}

.info .close {
	position: absolute;
	top: 5px;
	right: 7px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	width: 160px;
	height: auto;
	background: white;
}
.info .body::-webkit-scrollbar {
	display: none;
}

.body .img {
	position: relative;
	width: 150px;
	height: auto;
	color: #888;
	margin: 5px;
}

.body:after {
	content: '';
	position: absolute;
	margin-leÏft: -11px;
	left: 50%;
	bottom: -12;
	width: 24px;
	height: 12px;
	background:
		url('https://t1.d aumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.modal_img {
	display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_img button {
	position: absolute;
	top: 3rem;
	right: 3rem;
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 3rem;
}

.modal_imgBox {
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: auto;
}

.modal_imgBox img {
	max-width: 100%;
	max-height: 100%;
}

.modal_delete {
	display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_deleteBox {
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: auto;
}
