#searchbar_container input {
	margin-top: 12px;
	padding-left: 10px;
	width: 400px;
	border: 2px solid #aaa;
	border-radius: 30px;
	transition: .3s;
	opacity: 0.75;
	outline:none;
}

#searchbar_container input:focus {
	margin-top: 12px;
	padding-left: 10px;
	width: 400px;
	border-color: #fff;
	box-shadow:0 0 5px 0 var(--base_color_oatmeal);
	opacity: 1;
}

#searchbar_container button {
	position: relative;
	right: 30px;
	background: none;
	border: none;
	outline: none; 
	color: #aaa;
  	transition: color .25s;
}

#searchbar_container button:hover {
	color: var(--base_color_navy);
}

.searchbar_item {
	position: relative;
	width: 400px;
	margin-top: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	list-style: none;
	border-radius: 5px;
	color: white;
	background-color: #191A45;
	box-shadow:0 0 3px 0 var(--base_color_oatmeal);
	z-index: var(--searchbar_item_zindex);
}

.searchbar_item:hover {
	cursor: pointer;
	color: black;
	background-color: var(--base_color_oatmeal);
}